#nav {
  align-items: center;
  background-color: var(--color-bg);
  border-block-end: 1px solid var(--color-border-dark);
  column-gap: var(--inline-space-half);
  display: flex;
  inset: 0 0 auto 0;
  inset-inline-start: var(--sidebar-width);
  padding-block: var(--block-space);
  padding-inline: calc(var(--inline-space) * 1.5) var(--inline-space-double);
  pointer-events: none;
  position: fixed;
  row-gap: var(--block-space);
  z-index: 2;

  &:has(.room--current) {
    padding-inline: calc(var(--inline-space) * 1.5);
  }

  .sidebar & {
    @media (max-width: 100ch) {
      padding-block: var(--block-space-half);
      padding-inline-start: calc(var(--btn-size) + var(--sidebar-inline-space) + var(--inline-space));
    }
  }
}

.room__members-count {
  pointer-events: auto;
  white-space: nowrap;

  @media (max-width: 100ch) {
    display: none;
  }
}

.skip-navigation {
  --left-offset: -999em;

  inset-block-start: 4rem;
  inset-inline-start: var(--left-offset);
  position: absolute;
  white-space: nowrap;
  z-index: 11;

  &:focus {
    --left-offset: var(--inline-space);
  }
}
